<!DOCTYPE html>
<html ng-app="addDonor">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
		<script src="controllers/addDonor-ctrl.js"></script>

	</head>
	<body ng-controller="donorController">

		<div class="container register-form">
			<form class="register-form" ng-show="showForm">

				<div>
				<label>Donor personal information</label>

				<div class= "form-group">
					<label>First Name</label>
					<input type="text" class="form-control" id ="newDonorFirstName" ng-model="formData.firstName" placeholder="First Name">
					<p class="error">{{firstNameError}}</p>
				</div>
				<div class= "form-group">
					<label>Last Name</label>
					<input type="text" class="form-control" id ="newDonorLastName" ng-model="formData.lastName" placeholder="Last Name">
					<p class="error">{{lastNameError}}</p>
				</div>
				<div class= "form-group">
					<label>SSN</label>
					<input type="text" class="form-control" id ="newDonorSSN" ng-model="formData.ssn" placeholder="Social securty number">
					<p class="error">{{ssnError}}</p>
				</div>



				<div class= "form-group">
					<label>Street address</label>
					<input type="text" class="form-control" id ="newDonorStreet" ng-model="formData.street" placeholder="Street address">
					<p class="error">{{streetError}}</p>
				</div>
				<div class= "form-group">
					<label>City</label>
					<input type="text" class="form-control" id ="newHDonorCity" ng-model="formData.city" placeholder="City">
					<p class="error">{{cityError}}</p>
				</div>
				<div class= "form-group">
					<label>State</label>
					<select class="form-control" ng-model="formData.selectedState" ng-options="state for state in states">
					</select>
					<p>{{stateError}}</p>
				</div>
				<div class= "form-group">
					<label>Zip code</label>
					<input type="text" class="form-control" id ="newDonorZip" ng-model="formData.zip" placeholder="Zip Code">
					<p class="error">{{zipError}}</p>
				</div>

				</div>

				<div>
				<label>Donor Medical Information</label>

				<div class= "form-group">
					<label>Organ Type</label>
					<select class="form-control" ng-model="formData.selectedOrganType" ng-options="organType for organType in organTypes">
					</select>
					<p>{{organTypeError}}</p>
				</div>


				<div class= "form-group">
					<label>Date Added</label>
					<input type="text" class="form-control" id ="newDonorDateAdded" ng-model="formData.dateAdded" placeholder="Date">
					<p class="error">{{dateError}}</p>
				</div>
				<div class= "form-group">
					<label>Time Added</label>
					<input type="text" class="form-control" id ="newDonorTimeAdded" ng-model="formData.timeAdded" placeholder="Time">
					<p class="error">{{timeError}}</p>
				</div>


				<div class= "form-group">
					<label>Sex</label>
					<select class="form-control" ng-model="formData.selectedSex" ng-options="sex for sex in sexes">
					</select>
					<p>{{sexError}}</p>
				</div>
				<div class= "form-group">
					<label>Height</label>
					<input type="text" class="form-control" id ="newDonorHeight" ng-model="formData.height" placeholder="Height (cm)">
					<p class="error">{{heightError}}</p>
				</div>
				<div class= "form-group">
					<label>Weight</label>
					<input type="text" class="form-control" id ="newDonorWeight" ng-model="formData.weight" placeholder="Weight (kg)">
					<p class="error">{{weightError}}</p>
				</div>
				<div class= "form-group">
					<label>Blood Type</label>
					<select class="form-control" ng-model="formData.selectedBloodType" ng-options="bloodType for bloodType in bloodTypes">
					</select>
					<p>{{bloodTypeError}}</p>
				</div>
				<div class= "form-group">
					<label>HLA Type</label>
					<input type="text" class="form-control" id ="newDonorHLAType" ng-model="formData.HLAType" placeholder="HLA markers">
					<p class="error">{{HLATypeError}}</p>
				</div>
				<div class= "form-group">
					<label>Organ Size</label>
					<input type="text" class="form-control" id ="newDonorOrganSize" ng-model="formData.organSize" placeholder="Organ Size (g)">
					<p class="error">{{organSizeError}}</p>
				</div>
				<div class= "form-group">
					<label>Deceased?</label>
					<select class="form-control" ng-model="formData.selectedDeceased" ng-options="deceased for deceased in deceasedTypes">
					</select>
					<p>{{deceasedError}}</p>
				</div>
				</div>

				<a class="btn btn-primary btn-lg pull-right"  type="submit" ng-click="addDonor()">Submit</a>
			</form>
			<div ng-show="addedAlert">
				<h1>Donor Added Successfully!</h1>
			</div>
		</div>
		
	</body>
</html>