<!DOCTYPE html>
<html ng-app="addHospital">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
		<script src="controllers/addHospital-ctrl.js"></script>

		<div class="body-content">
			<div class="jumbotron top-banner row text-center">
				<div class="col-xs-2">
					<img src="images/cardiogram.svg" class="logo"></img>
				</div>
				<div class="col-xs-10">
					<h1>Organ Network</h1>
					<h2>Add Hospital</h2>
				</div>
			</div>
			<div class="row" ng-controller="hospitalController">
			
				<div class="col-xs-4 col-md-2 left-banner left">

					<a class="btn btn-primary btn-lg btn-block" ng-click = "gotoaddHospital()" role="button"><span class="glyphicon glyphicon-pencil"></span> Add Hospital</a>
               		<a class="btn btn-primary btn-lg btn-block" ng-click = "gotomanageHospitals()" role="button"><span class="glyphicon glyphicon-pencil"></span> Manage Hospitals</a>
               		<a class="btn btn-primary btn-lg btn-block" href="#" role="button"><span class="glyphicon glyphicon-stats"></span> Match Statistics</a>
               		<a class="btn btn-primary btn-lg btn-block" href="#" role="button"><span class="glyphicon glyphicon-stats"></span> System Statistics</a>
				</div>
				<div class="col-xs-8 col-md-9">
				<!--  Main Content Here  -->
               <div id="body-content2">
               <div ng-show="addedAlert">
				<h1>Hospital Added Successfully!</h1>
			</div>

               <div class="panel panel-primary">
   <div class="panel-heading">
      <h3 class="panel-title ng-binding">Add Hospital</h3>
   </div>
   <div class="panel-body">
      <!-- table here -->
      <form class="right" ng-show="showForm">
               <div class= "form-group">
                  <label>Name</label>
                  <input type="text" size="50" class="form-control" id ="newHospitalName" ng-model="formData.name" placeholder="Hospital name">
                  <p class="error">{{nameError}}</p>
               </div>
               <div class= "form-group">
                  <label>Region</label>
                  <select class="form-control" ng-model="formData.region" ng-options="region as region for (region, states) in regions">
                  </select>
                  <p class="error">{{regionError}}</p>
               </div>
               <div class= "form-group">
                  <label>Street address</label>
                  <input type="text" class="form-control" id ="newHospitalStreet" ng-model="formData.street" placeholder="Street address">
                  <p class="error">{{streetError}}</p>
               </div>
               <div class= "form-group">
                  <label>City</label>
                  <input type="text" class="form-control" id ="newHospitalCity" ng-model="formData.city" placeholder="City">
                  <p class="error">{{cityError}}</p>
               </div>
               <div class= "form-group">
                  <label>State</label>
                  <select class="form-control" ng-model="formData.state" ng-options="state as state for state in regions[formData.region]">
                  </select>
                  <p class="error">{{stateError}}</p>
               </div>
               <div class= "form-group">
                  <label>Zip code</label>
                  <input type="text" class="form-control" id ="newHospitalZip" ng-model="formData.zip" placeholder="Zip Code">
                  <p class="error">{{zipError}}</p>
               </div>
               <div class= "form-group">
                  <label>Phone Number</label>
                  <input type="phoneNumber" class="form-control" id ="newHospitalPhoneNumber" ng-model="formData.phoneNumber" placeholder="Phone Number">
                  <p class="error">{{phoneNumberError}}</p>
               </div>
               <div class="form-group">
                  <button class="btn btn-primary btn-lg"  type="submit" ng-click="addHospital()">Submit</button>
               </div>
               
            </form>
   </div>
</div>
            </div>
            <div id="main2">
               <div >
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title">Region information</h3>
                     </div>
                     <div class="panel-body">
                        <ul ng-repeat="regionDescriptor in regionDescriptors">
                           <li>{{regionDescriptor}}</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div><!--  End Main Content  -->
			</div>
		</div>
	</body>
</html>


<!-- 	<div class="container">
		<body ng-controller="hospitalController">
			<form class="register-form" ng-show="showForm">
				<div class= "form-group">
					<label>Name</label>
					<input type="text" class="form-control" id ="newHospitalName" ng-model="formData.name" placeholder="Hospital name">
					<p class="error">{{nameError}}</p>
				</div>

				<div class= "form-group">
					<label>Region</label>
					<select class="form-control" ng-model="formData.region" ng-options="region as region for (region, states) in regions">
					</select>
					<p class="error">{{regionError}}</p>
				</div>

				<div class= "form-group">
					<label>Street address</label>
					<input type="text" class="form-control" id ="newHospitalStreet" ng-model="formData.street" placeholder="Street address">
					<p class="error">{{streetError}}</p>
				</div>
				<div class= "form-group">
					<label>City</label>
					<input type="text" class="form-control" id ="newHospitalCity" ng-model="formData.city" placeholder="City">
					<p class="error">{{cityError}}</p>
				</div>

				<div class= "form-group">
					<label>State</label>
					<select class="form-control" ng-model="formData.state" ng-options="state as state for state in regions[formData.region]">
					</select>
					<p class="error">{{stateError}}</p>
				</div>

				<div class= "form-group">
					<label>Zip code</label>
					<input type="text" class="form-control" id ="newHospitalZip" ng-model="formData.zip" placeholder="Zip Code">
					<p class="error">{{zipError}}</p>
				</div>
				<div class= "form-group">
					<label>Phone Number</label>
					<input type="phoneNumber" class="form-control" id ="newHospitalPhoneNumber" ng-model="formData.phoneNumber" placeholder="Phone Number">
					<p class="error">{{phoneNumberError}}</p>
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-lg pull-right"  type="submit" ng-click="addHospital()">Submit</button>
				</div>

				<div style="padding-top:65px">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Region information</h3>
						</div>
						<div class="panel-body">
							<ul ng-repeat="regionDescriptor in regionDescriptors">
								<li>{{regionDescriptor}}</li>
							</ul>
						</div>
					</div>
				</div>
			</form>
			<div ng-show="addedAlert">
				<h1>Hospital Added Successfully!</h1>
			</div>
		</body>
	</div> -->









</html>