<!DOCTYPE html>
<html ng-app="addHospital">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
		<script src="controllers/addHospital-ctrl.js"></script>

	</head>

	<div class="container">
		<body ng-controller="hospitalController">
			<form class="register-form" ng-show="showForm">
				<div class= "form-group">
					<label>Name</label>
					<input type="text" class="form-control" id ="newHospitalName"ng-model="formData.name" placeholder="Hospital name">
					<p class="error">{{nameError}}</p>
				</div>

				<div class= "form-group">
					<label>Region</label>
					<select class="form-control" ng-model="formData.region" ng-options="region as region for (region, states) in regions">
					</select>
					<p class="error">{{regionError}}</p>
				</div>

				<div class= "form-group">
					<label>Street address</label>
					<input type="text" class="form-control" id ="newHospitalStreet" ng-model="formData.street" placeholder="Street address">
					<p class="error">{{streetError}}</p>
				</div>
				<div class= "form-group">
					<label>City</label>
					<input type="text" class="form-control" id ="newHospitalCity" ng-model="formData.city" placeholder="City">
					<p class="error">{{cityError}}</p>
				</div>

				<div class= "form-group">
					<label>State</label>
					<select class="form-control" ng-model="formData.state" ng-options="state as state for state in regions[formData.region]">
					</select>
					<p class="error">{{stateError}}</p>
				</div>

				<div class= "form-group">
					<label>Zip code</label>
					<input type="text" class="form-control" id ="newHospitalZip" ng-model="formData.zip" placeholder="Zip Code">
					<p class="error">{{zipError}}</p>
				</div>
				<div class= "form-group">
					<label>Phone Number</label>
					<input type="phoneNumber" class="form-control" id ="newHospitalPhoneNumber" ng-model="formData.phoneNumber" placeholder="Phone Number">
					<p class="error">{{phoneNumberError}}</p>
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-lg pull-right"  type="submit" ng-click="addHospital()">Submit</button>
				</div>

				<div style="padding-top:65px">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Region information</h3>
						</div>
						<div class="panel-body">
							<ul ng-repeat="regionDescriptor in regionDescriptors">
								<li>{{regionDescriptor}}</li>
							</ul>
						</div>
					</div>
				</div>
			</form>
			<div ng-show="addedAlert">
				<h1>Hospital Added Successfully!</h1>
			</div>
		</body>
	</div>
</html>