<!DOCTYPE html>
<html ng-app="addRecipient">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
		<script src="controllers/addRecipient-ctrl.js"></script>

	</head>
	<body ng-controller="recipientController">

		<div class="container register-form">
			<form class="register-form" ng-show="showForm">

				<div>
				<label>Recipient personal information</label>

				<div class= "form-group">
					<label>First Name</label>
					<input type="text" class="form-control" id ="newRecipientFirstName" ng-model="formData.firstName" placeholder="First Name">
					<p class="error">{{firstNameError}}</p>
				</div>
				<div class= "form-group">
					<label>Last Name</label>
					<input type="text" class="form-control" id ="newRecipientLastName" ng-model="formData.lastName" placeholder="Last Name">
					<p class="error">{{lastNameError}}</p>
				</div>
				<div class= "form-group">
					<label>SSN</label>
					<input type="text" class="form-control" id ="newRecipientSSN" ng-model="formData.ssn" placeholder="Social securty number">
					<p class="error">{{ssnError}}</p>
				</div>



				<div class= "form-group">
					<label>Street address</label>
					<input type="text" class="form-control" id ="newRecipientStreet" ng-model="formData.street" placeholder="Street address">
					<p class="error">{{streetError}}</p>
				</div>
				<div class= "form-group">
					<label>City</label>
					<input type="text" class="form-control" id ="newHRecipientCity" ng-model="formData.city" placeholder="City">
					<p class="error">{{cityError}}</p>
				</div>
				<div class= "form-group">
					<label>State</label>
					<select class="form-control" ng-model="formData.selectedState" ng-options="state for state in states">
					</select>
					<p class="error">{{stateError}}</p>
				</div>
				<div class= "form-group">
					<label>Zip code</label>
					<input type="text" class="form-control" id ="newRecipientZip" ng-model="formData.zip" placeholder="Zip Code">
					<p class="error">{{zipError}}</p>
				</div>
				<div class= "form-group">
					<label>Phone Number</label>
					<input type="text" class="form-control" id ="newRecipientPhoneNumber" ng-model="formData.phoneNumber" placeholder="Phone number">
					<p class="error">{{phoneNumberError}}</p>
				</div>
				</div>


				<div>
				<label>Recipient medical information</label>

				<div class= "form-group">
					<label>Organ Type</label>
					<select class="form-control" ng-model="formData.selectedOrganType" ng-options="organType for organType in organTypes">
					</select>
					<p class="error">{{organTypeError}}</p>
				</div>



				<div class= "form-group">
					<label>Sex</label>
					<select class="form-control" ng-model="formData.selectedSex" ng-options="sex for sex in sexes">
					</select>
					<p class="error">{{sexError}}</p>
				</div>
				<div class= "form-group">
					<label>Height</label>
					<input type="text" class="form-control" id ="newRecipientHeight" ng-model="formData.height" placeholder="Height (cm)">
					<p class="error">{{heightError}}</p>
				</div>
				<div class= "form-group">
					<label>Weight</label>
					<input type="text" class="form-control" id ="newRecipientWeight" ng-model="formData.weight" placeholder="Weight (kg)">
					<p class="error">{{weightError}}</p>
				</div>
				<div class= "form-group">
					<label>Urgency</label>
					<select class="form-control" ng-model="formData.selectedUrgency" ng-options="urgency for urgency in urgencies">
					</select>
					<p class="error">{{urgencyError}}</p>
				</div>
				<div class= "form-inline">
					<label>Date of Birth</label>
					<p></p>
	
					<input type="date" class="form-control" ng-model="formData.dob">
					</input>
			
					<p class="error">{{dobError}}</p>
				</div>
				<div class= "form-group">
					<label>Blood Type</label>
					<select class="form-control" ng-model="formData.selectedBloodType" ng-options="bloodType for bloodType in bloodTypes">
					</select>
					<p class="error">{{bloodTypeError}}</p>
				</div>
				<div class= "form-group">
					<label>HLA Type</label>
					<input type="text" class="form-control" id ="newRecipientHLAType" ng-model="formData.HLAType" placeholder="HLA markers">
					<p class="error">{{HLATypeError}}</p>
				</div>
				<div class= "form-group">
					<label>Organ Size</label>
					<input type="text" class="form-control" id ="newRecipientOrganSize" ng-model="formData.organSize" placeholder="Organ Size (g)">
					<p class="error">{{organSizeError}}</p>
				</div>
				</div>

				<button class="btn btn-primary btn-lg pull-right"  type="submit" ng-click="addRecipient()">Submit</button>
			</form>
			<div ng-show="addedAlert">
				<h1>Recipient Added Successfully!</h1>
			</div>
		</div>
		
	</body>
</html>