<!DOCTYPE html>
<html ng-app="admin">
	<body>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
		<script src="controllers/admin-ctrl.js"></script>

		<div class="container-fluid-fluid body-content">
			<div class="jumbotron top-banner row text-center">
				<div class="col-xs-2">
					<img src="images/cardiogram.svg" class="logo"></img>
				</div>
				<div class="col-xs-10">
					<h1>Organ Network</h1>
					<h2>Admin home</h2>
				</div>
			</div>
			<div class="row" ng-controller="adminController">
				<div class="col-xs-4 col-md-3 left-banner">
				<a class="btn btn-primary btn-lg btn-block" ng-click = "addHospital()" role="button"><span class="glyphicon glyphicon-pencil"></span> Add Hospital</a>

				<a class="btn btn-primary btn-lg btn-block" href="#" role="button"><span class="glyphicon glyphicon-stats"></span> Match Statistics</a>

				<a class="btn btn-primary btn-lg btn-block" href="/admin/statistics" role="button"><span class="glyphicon glyphicon-stats"></span> System Statistics</a>
			</div>
			
	</body>
</html>