<!DOCTYPE html>
<html ng-app = "doctor">
	<body>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
		<script src="controllers/doctor-ctrl.js"></script>

		<div class="container body-content">
			<div class="jumbotron top-banner row text-center">
				<div class="col-xs-2">
					<img src="images/cardiogram.svg" class="logo"></img>
				</div>
				<div class="col-xs-10">
					<h1>Organ Network</h1>
					<h2>Doctor home</h2>
				</div>
			</div>
			<div class="row" ng-controller="doctorController">
				<div class="col-xs-4 col-md-3 left-banner">

					<button class="btn btn-primary btn-lg btn-block" ng-click="viewHome()" role="button"><span class="glyphicon glyphicon-home"></span> Home</button>

					<button class="btn btn-primary btn-lg btn-block" ng-click="viewPatients()" role="button"><span class="glyphicon glyphicon-user"></span> View Patients</button>

					<button class="btn btn-primary btn-lg btn-block" ng-click="addDonorView()" role="button"><span class="glyphicon glyphicon-pencil"></span> Add Donor</button>

					<button class="btn btn-primary btn-lg btn-block" ng-click="addRecipientView()" role="button"><span class="glyphicon glyphicon-pencil"></span> Add Recipient</button>

					<button class="btn btn-primary btn-lg btn-block" ng-click="logout()" role="button"><span class="glyphicon glyphicon-remove"></span> Logout</a>
				</div>
				<div class="col-xs-8 col-md-9">
					<div ng-show="defaultView">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Welcome Dr. {{doctorName}}</h3>
							</div>
							<div class="panel-body">
								<table class="table">
									<tr>
										<th>Hospital</th>
										<th>Address</th>
										<th>Phone</th>
									</tr>
									<tr>
										<td>{{hospital_info.name}}</td>
										<td>{{hospital_info.address.street}}, {{hospital_info.address.city}} {{hospital_info.address.state}}, {{hospital_info.address.zip}}</td>
										<td>{{hospital_info.phone}}</td>
									</tr>
								</table>

							</div>
						</div>
					</div>
					<div ng-show="patientView">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Patients</h3>
							</div>

							<div style="margin: 25px" class="text-center">
								<button class="btn btn-info btn-lg" ng-click="viewDonors()" role="button">View Donors</button>

								<button class="btn btn-info btn-lg" ng-click="viewRecipients()" role="button">View Recipients</button>
							</div>
							<div ng-show="donorsPanel">
								<div class="panel-body">
									<table class="table">
										<tr>
											<th>Name</th>
											<th>Deceased</th>
											<th>Sex</th>
											<th>Weight (Kg)</th>
											<th>Height (cm)</th>
											<th>Blood Type</th>
											<th>HLA Type</th>
											<th>Organ Type</th>
											<th>Organ Size (g)</th>
											<th>Date Added</th>
										</tr>
										<tr ng-repeat="patient in donorPatients">
											<td>{{patient.name.firstName}}, {{patient.name.lastName}}</td>
											<td>{{patient.deceased}}</td>
											<td>{{patient.sex}}</td>
											<td>{{patient.weight}}</td>
											<td>{{patient.height}}</td>
											<td>{{patient.bloodType}}</td>
											<td>{{patient.HLAType}}</td>
											<td>{{patient.organType}}</td>
											<td>{{patient.organSize}}</td>
											<td>{{patient.dateAdded}}</td>
										</tr>
									</table>
								</div>
							</div>
							<div ng-show="recipientsPanel">
								<div class="panel-body">
									<table class="table">
										<tr>
											<th>Name</th>
											<th>Sex</th>
											<th>Weight (Kg)</th>
											<th>Height (cm)</th>
											<th>Blood Type</th>
											<th>HLA Type</th>
											<th>Organ Type</th>
											<th>Organ Size (g)</th>
											<th>Date Added</th>
										</tr>
										<tr ng-repeat="patient in recipientPatients">
											<td>{{patient.name.firstName}}, {{patient.name.lastName}}</td>
											<td>{{patient.sex}}</td>
											<td>{{patient.weight}}</td>
											<td>{{patient.height}}</td>
											<td>{{patient.bloodType}}</td>
											<td>{{patient.HLAType}}</td>
											<td>{{patient.organType}}</td>
											<td>{{patient.organSize}}</td>
											<td>{{patient.dateAdded}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>



					<div ng-show="addDonorsPanel">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Enter Donor Information</h3>
							</div>
							<div class="panel-body">
								<div  class="col-xs-5 col-md-6">
									<label>Personal information</label>	
									<div class= "form-group">
										<label>First Name</label>
										<input type="text" class="form-control" id ="newDonorFirstName" ng-model="formData.firstName" placeholder="First Name">
										<p class="error">{{firstNameError}}</p>
									</div>
									<div class= "form-group">
										<label>Last Name</label>
										<input type="text" class="form-control" id ="newDonorLastName" ng-model="formData.lastName" placeholder="Last Name">
										<p class="error">{{lastNameError}}</p>
									</div>
									<div class= "form-group">
										<label>SSN</label>
										<input type="text" class="form-control" id ="newDonorSSN" ng-model="formData.ssn" placeholder="Social securty number">
										<p class="error">{{ssnError}}</p>
									</div>
									<div class= "form-group">
										<label>Street address</label>
										<input type="text" class="form-control" id ="newDonorStreet" ng-model="formData.street" placeholder="Street address">
										<p class="error">{{streetError}}</p>
									</div>
									<div class= "form-group">
										<label>City</label>
										<input type="text" class="form-control" id ="newHDonorCity" ng-model="formData.city" placeholder="City">
										<p class="error">{{cityError}}</p>
									</div>
									<div class= "form-group">
										<label>State</label>
										<select class="form-control" ng-model="formData.selectedState" ng-options="state for state in states">
										</select>
										<p class="error">{{stateError}}</p>
									</div>
									<div class= "form-group">
										<label>Zip code</label>
										<input type="text" class="form-control" id ="newDonorZip" ng-model="formData.zip" placeholder="Zip Code">
										<p class="error">{{zipError}}</p>
									</div>
									<div class= "form-group">
										<label>Phone Number</label>
										<input type="text" class="form-control" id ="newDonorPhoneNumber" ng-model="formData.phoneNumber" placeholder="Phone number">
										<p class="error">{{phoneNumberError}}</p>
									</div>
								</div>


								<div  class="col-xs-5 col-md-6">
									<label>Medical information</label>
									<div class= "form-group">
										<label>Organ Type</label>
										<select class="form-control" ng-model="formData.selectedOrganType" ng-options="organType for organType in organTypes">
										</select>
										<p class="error">{{organTypeError}}</p>
									</div>
									<div class= "form-group">
										<label>Sex</label>
										<select class="form-control" ng-model="formData.selectedSex" ng-options="sex for sex in sexes">
										</select>
										<p class="error">{{sexError}}</p>
									</div>
									<div class= "form-group">
										<label>Height</label>
										<input type="text" class="form-control" id ="newDonorHeight" ng-model="formData.height" placeholder="Height (cm)">
										<p class="error">{{heightError}}</p>
									</div>
									<div class= "form-group">
										<label>Weight</label>
										<input type="text" class="form-control" id ="newDonorWeight" ng-model="formData.weight" placeholder="Weight (kg)">
										<p class="error">{{weightError}}</p>
									</div>
									<div class= "form-inline">
										<label>Date of Birth</label>
										<p></p>
						
										<input type="date" class="form-control" ng-model="formData.dob">
										</input>
								
										<p class="error">{{dobError}}</p>
									</div>
									<div class= "form-group">
										<label>Blood Type</label>
										<select class="form-control" ng-model="formData.selectedBloodType" ng-options="bloodType for bloodType in bloodTypes">
										</select>
										<p class="error">{{bloodTypeError}}</p>
									</div>
									<div class= "form-group">
										<label>HLA Type</label>
										<input type="text" class="form-control" id ="newDonorHLAType" ng-model="formData.HLAType" placeholder="HLA markers">
										<p class="error">{{HLATypeError}}</p>
									</div>
									<div class= "form-group">
										<label>Organ Size</label>
										<input type="text" class="form-control" id ="newDonorOrganSize" ng-model="formData.organSize" placeholder="Organ Size (g)">
										<p class="error">{{organSizeError}}</p>
									</div>
									<div class= "form-group">
										<label>Deceased?</label>
										<select class="form-control" ng-model="formData.selectedDeceased" ng-options="deceased for deceased in deceasedTypes">
										</select>
										<p class="error">{{deceasedError}}</p>
									</div>
									<button class="btn btn-primary btn-lg pull-right"  type="submit" ng-click="addDonor()">Submit</button>
								</div>
								<br>
							</div>
							<br>
						</div>
					</div>


					<div ng-show="addRecipientsPanel">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Enter Recipient Information</h3>
							</div>
							<div class="panel-body">
								<div  class="col-xs-5 col-md-6">
									<label>Personal information</label>	
									<div class= "form-group">
										<label>First Name</label>
										<input type="text" class="form-control" id ="newDonorFirstName" ng-model="formData.firstName" placeholder="First Name">
										<p class="error">{{firstNameError}}</p>
									</div>
									<div class= "form-group">
										<label>Last Name</label>
										<input type="text" class="form-control" id ="newDonorLastName" ng-model="formData.lastName" placeholder="Last Name">
										<p class="error">{{lastNameError}}</p>
									</div>
									<div class= "form-group">
										<label>SSN</label>
										<input type="text" class="form-control" id ="newDonorSSN" ng-model="formData.ssn" placeholder="Social securty number">
										<p class="error">{{ssnError}}</p>
									</div>
									<div class= "form-group">
										<label>Street address</label>
										<input type="text" class="form-control" id ="newDonorStreet" ng-model="formData.street" placeholder="Street address">
										<p class="error">{{streetError}}</p>
									</div>
									<div class= "form-group">
										<label>City</label>
										<input type="text" class="form-control" id ="newHDonorCity" ng-model="formData.city" placeholder="City">
										<p class="error">{{cityError}}</p>
									</div>
									<div class= "form-group">
										<label>State</label>
										<select class="form-control" ng-model="formData.selectedState" ng-options="state for state in states">
										</select>
										<p class="error">{{stateError}}</p>
									</div>
									<div class= "form-group">
										<label>Zip code</label>
										<input type="text" class="form-control" id ="newDonorZip" ng-model="formData.zip" placeholder="Zip Code">
										<p class="error">{{zipError}}</p>
									</div>
									<div class= "form-group">
										<label>Phone Number</label>
										<input type="text" class="form-control" id ="newDonorPhoneNumber" ng-model="formData.phoneNumber" placeholder="Phone number">
										<p class="error">{{phoneNumberError}}</p>
									</div>
								</div>


								<div  class="col-xs-5 col-md-6">
									<label>Medical information</label>
									<div class= "form-group">
										<label>Organ Type</label>
										<select class="form-control" ng-model="formData.selectedOrganType" ng-options="organType for organType in organTypes">
										</select>
										<p class="error">{{organTypeError}}</p>
									</div>
									<div class= "form-group">
										<label>Sex</label>
										<select class="form-control" ng-model="formData.selectedSex" ng-options="sex for sex in sexes">
										</select>
										<p class="error">{{sexError}}</p>
									</div>
									<div class= "form-group">
										<label>Height</label>
										<input type="text" class="form-control" id ="newDonorHeight" ng-model="formData.height" placeholder="Height (cm)">
										<p class="error">{{heightError}}</p>
									</div>
									<div class= "form-group">
										<label>Weight</label>
										<input type="text" class="form-control" id ="newDonorWeight" ng-model="formData.weight" placeholder="Weight (kg)">
										<p class="error">{{weightError}}</p>
									</div>
									<div class= "form-group">
										<label>Urgency</label>
										<select class="form-control" ng-model="formData.selectedUrgency" ng-options="urgency for urgency in urgencies">
										</select>
										<p class="error">{{urgencyError}}</p>
									</div>
									<div class= "form-inline">
										<label>Date of Birth</label>
										<p></p>
										<input type="date" class="form-control" ng-model="formData.dob">
										</input>
								
										<p class="error">{{dobError}}</p>
									</div>
									<div class= "form-group">
										<label>Blood Type</label>
										<select class="form-control" ng-model="formData.selectedBloodType" ng-options="bloodType for bloodType in bloodTypes">
										</select>
										<p class="error">{{bloodTypeError}}</p>
									</div>
									<div class= "form-group">
										<label>HLA Type</label>
										<input type="text" class="form-control" id ="newDonorHLAType" ng-model="formData.HLAType" placeholder="HLA markers">
										<p class="error">{{HLATypeError}}</p>
									</div>
									<div class= "form-group">
										<label>Organ Size</label>
										<input type="text" class="form-control" id ="newDonorOrganSize" ng-model="formData.organSize" placeholder="Organ Size (g)">
										<p class="error">{{organSizeError}}</p>
									</div>
									<button class="btn btn-primary btn-lg pull-right"  type="submit" ng-click="addRecipient()">Submit</button>
								</div>
								<br>
							</div>
							<br>
						</div>
					</div>
			</div>
	</body>
</html>