<!DOCTYPE html>
<html ng-app = "doctor">
	<body>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
		<script src="controllers/doctor-ctrl.js"></script>

		<div class="container body-content">
			<div class="jumbotron top-banner row text-center">
				<div class="col-xs-2">
					<img src="images/cardiogram.svg" class="logo"></img>
				</div>
				<div class="col-xs-10">
					<h1>Organ Network</h1>
					<h2>Doctor home</h2>
				</div>
			</div>
			<div class="row" ng-controller="doctorController">
				<div class="col-xs-4 col-md-3 left-banner">

					<button class="btn btn-primary btn-lg btn-block" ng-click="viewHome()" role="button"><span class="glyphicon glyphicon-home"></span> Home</button>

					<button class="btn btn-primary btn-lg btn-block" ng-click="viewPatients()" role="button"><span class="glyphicon glyphicon-user"></span> View Patients</button>

					<button class="btn btn-primary btn-lg btn-block" ng-click="addDonor()" role="button"><span class="glyphicon glyphicon-pencil"></span> Add Donor</button>

					<button class="btn btn-primary btn-lg btn-block" ng-click="addRecipient()" role="button"><span class="glyphicon glyphicon-pencil"></span> Add Recipient</button>

					<button class="btn btn-primary btn-lg btn-block"  role="button"><span class="glyphicon glyphicon-random"></span> Generate Match</button>
				</div>
				<div class="col-xs-8 col-md-9">
					<div ng-show="defaultView">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Welcome Dr. {{doctorName}}</h3>
							</div>
							<div class="panel-body">
								<table class="table">
									<tr>
										<th>Hospital</th>
										<th>Address</th>
										<th>Phone</th>
									</tr>
									<tr>
										<td>{{hospital_info.name}}</td>
										<td>{{hospital_info.address.street}}, {{hospital_info.address.city}} {{hospital_info.address.state}}, {{hospital_info.address.zip}}</td>
										<td>{{hospital_info.phone}}</td>
									</tr>
								</table>

							</div>
						</div>
					</div>
					<div ng-show="patientView">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Patients</h3>
							</div>

							<div style="margin: 25px" class="text-center">
								<button class="btn btn-info btn-lg" ng-click="viewDonors()" role="button">View Donors</button>

								<button class="btn btn-info btn-lg" ng-click="viewRecipients()" role="button">View Recipients</button>
							</div>
							<div ng-show="donorsPanel">
								<div class="panel-body">
									<table class="table">
										<tr>
											<th>Name</th>
											<th>Deceased</th>
											<th>Sex</th>
											<th>Weight (Kg)</th>
											<th>Height (cm)</th>
											<th>Blood Type</th>
											<th>HLA Type</th>
											<th>Organ Type</th>
											<th>Organ Size (g)</th>
											<th>Date Added</th>
										</tr>
										<tr ng-repeat="patient in donorPatients">
											<td>{{patient.name.firstName}}, {{patient.name.lastName}}</td>
											<td>{{patient.deceased}}</td>
											<td>{{patient.sex}}</td>
											<td>{{patient.weight}}</td>
											<td>{{patient.height}}</td>
											<td>{{patient.bloodType}}</td>
											<td>{{patient.HLAType}}</td>
											<td>{{patient.organType}}</td>
											<td>{{patient.organSize}}</td>
											<td>{{patient.dateAdded}}</td>
										</tr>
									</table>
								</div>
							</div>
							<div ng-show="recipientsPanel">
								<div class="panel-body">
									<table class="table">
										<tr>
											<th>Name</th>
											<th>Sex</th>
											<th>Weight (Kg)</th>
											<th>Height (cm)</th>
											<th>Blood Type</th>
											<th>HLA Type</th>
											<th>Organ Type</th>
											<th>Organ Size (g)</th>
											<th>Date Added</th>
										</tr>
										<tr ng-repeat="patient in recipientPatients">
											<td>{{patient.name.firstName}}, {{patient.name.lastName}}</td>
											<td>{{patient.sex}}</td>
											<td>{{patient.weight}}</td>
											<td>{{patient.height}}</td>
											<td>{{patient.bloodType}}</td>
											<td>{{patient.HLAType}}</td>
											<td>{{patient.organType}}</td>
											<td>{{patient.organSize}}</td>
											<td>{{patient.dateAdded}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</body>
</html>