<!DOCTYPE html>
<html>
	<body>
		<div class="container body-content">
			<div class="jumbotron top-banner row text-center">
				<div class="col-xs-2">
					<img src="images/cardiogram.svg" class="logo"></img>
				</div>
				<div class="col-xs-10">
					<h1>Organ Network</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-2 left-banner">
				<a class="btn btn-primary btn-lg btn-block" href="/register" role="button"><span class="glyphicon glyphicon-pencil"></span> Register</a>

				<a class="btn btn-primary btn-lg btn-block" href="/authenticate" role="button"><span class="glyphicon glyphicon-cloud"></span> Login</a>

				<a class="btn btn-primary btn-lg btn-block" href="#" role="button"><span class="glyphicon glyphicon-stats"></span> Statistics</a>

				<a class="btn btn-primary btn-lg btn-block" href="#" role="button"><span class="glyphicon glyphicon-wrench"></span> Admin</a>
				</div>
				<div class="col-xs-9 col-md-10 body-content">
					<div>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/YVer3lUv6HQ" frameborder="0" allowfullscreen></iframe>
					</div>
					<h2>How we match</h2>
					<div class="body-text">
							<ul>
								<li>Patients are served on a first come first serve basis</li>
								<li>Our system matches candidates based on specific criteria to produce the best match
									<ol>
										<li>Blood type</li>
										<li>HLA class</li>
										<li>Age, weight, height</li>
										<li>Distance</li>
									</ol>
								<li>Patients work directly with their doctors upon registration. Your doctor will be able to check your waitlist status, and screen possible matches to ensure organ transplant is a success
							</ul>
							<a class="btn btn-info btn-lg pull-right" href="#" role="button">Learn more</a>
					</div>
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>

	</body>
</html>