<!DOCTYPE html>
<html ng-app="register">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
		<script src="controllers/register-ctrl.js"></script>
	</head>
	<body ng-controller="doctorController">

		<div class="container register-form">
			<form class="register-form" ng-show="showForm">
				<div class= "form-group">
					<label for="newDoctorSSN">SSN</label>
					<input type="text" class="form-control" id ="newDoctorSSN" ng-model="formData.SSN" placeholder="xxx-xx-xxxx">
					<p class="error">{{ssnError}}</p>
				</div>
				<div class= "form-group">
					<label>Name</label>
					<input type="text" class="form-control" id ="newDoctorName" ng-model="formData.name" placeholder="Enter name">
					<p class="error">{{nameError}}</p>
				</div>
				<div class= "form-group">
					<label>Username</label>
					<input type="text" class="form-control" id ="newDoctorUsername" ng-model="formData.username" placeholder="Desired Username">
					<p class="error">{{usernameError}}</p>
				</div>
				<div class= "form-group">
					<label>Password</label>
					<input type="password" class="form-control" id ="newDoctorName" ng-model="formData.password" placeholder="Desired Password">
					<p class="error">{{passwordError}}</p>
				</div>
				<div class= "form-group">
					<label for="permissionCode">Permission Code</label>
					<input type="password" class="form-control" id ="permissionCode" ng-model="formData.code" placeholder="">
				</div>
				<a class="btn btn-primary btn-lg pull-right"  type="submit" ng-click="addDoctor()">Submit</a>
			</form>
			<div ng-show="addedAlert">
				<h1>User Added Successfully!</h1>
			</div>
		</div>
		
	</body>
</html>