<!DOCTYPE html>

<style>
    .inline-form{
        float:left;
        margin:15px;
    }
</style>
<html ng-app="statistics">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <script src="controllers/statistics-ctrl.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body ng-controller="statisticsController">
    <form style="margin-bottom: 5%; padding-left: 5%" ng-submit="generateChart(report)">
        <div class="form-group">
            <label for="reportName">What report do you want to gernerate?</label>
            <select class="form-control" id="reportName" ng-model="report.name" style="width:58%;" required>
                <option value = ""></option>
                <option value = "donors">Donors</option>
                <option value = "recipients_WL" >Recipients on wait list</option>
                <option value = "people_matched">People matched</option>
            </select>
        </div>
        <div class="form-group">
            <label class = "inline-form" for="startDate">Start Date</label>
            <input class="form-control inline-form" type = "date" id="startDate" ng-model="report.startDate"
            style="width :20%;" >
            </input>
        </div>
        <div class="form-group">
            <label class = "inline-form" for="endDate">End Date</label>
            <input class="form-control inline-form" type = "date" id="endDate" ng-model="report.endDate"
                style="width: 20%; margin-right:40%">
            </input>
        </div>
        <div class="form-group" >
            <label for="organType">What organ wait list would you like?</label>
            <select class="form-control" id="organType" ng-model="report.organ" style="width:58%;" required>
                <option value = ""></option>
                <option value = "heart" >Heart</option>
                <option value = "kidney">Kidney</option>
                <option value = "lungs">Lungs</option>
                <option value = "all" >I want all organs</option>
            </select>
        </div>
        <div class="form-group">
            <label for="reportType">What type of Graph do you want?</label>
            <select class="form-control" id="reportType" ng-model="report.type" style="width:58%;" required>
                <option value = ""></option>
                <option value = "timeSeries">Time Series</option>
                <option value = "ScatterPlot" >Scatter Plot</option>
            </select>
        </div>

        <input type="submit" class="btn btn-primary"></input>
    </form>
    <div id="tester" style="width:90%;height:250px; margin: 0 auto;"></div>


</body>

</html>