html, body {
	height:100%;
}

.logo {
	display: block;
	height:100%;
}

.body-content {
	background-color: #f9f9f9;
}


.top-banner {
/*	background-color: #99e6ff;*/
	background: url('../images/banner.jpg');
	background-size: 100%;
	opacity:0.9;

}

.top-banner p{
	padding-top:40px;
	padding-left:100px;
	color: #FFFFFF;
	font-family: "Quicksand",  sans-serif;
	font-size:500%;
	letter-spacing: 7px;
	height:50%;
	float: left;
}

#heartImg img{
	padding-left:60px;
	padding-top:40px;
	padding-bottom:20px;
}

.body-text {
	font-size: 1.3em;
}

.register-form {

}

.error {
	color: red;
	font-weight: bold;
}


/*h1{
	padding-top:50px;
	font-size:500%;
}*/
	
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.loginClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.registerClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.loginClose:hover,
.loginClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.registerClose:hover,
.registerClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#sidebar{
	background-color: #e8e8e8;
	  float:left;
      width:250px;
      padding-left: 30px;
      padding-bottom:40%;
      padding-top: 30px;
}
#sidebarAbout{
	background-color: #e8e8e8;
	  float:left;
      width:250px;
      padding-left: 30px;
      padding-bottom:100%;
      padding-top: 30px;
}
/*#sidebarBtn{
	background: #4CAF50;
    color: #ffffff;
}*/

#mainPanel{
	padding-top: 30px;
}
#frontPageInfo{
	width:50%;
	padding-bottom: 30px;
}
#about{
	padding-top:15px;
	padding-left: 30px;
}


#organDonation{
	padding-top: 30px;
	padding-left: 30px;


	text-align:left;
}



#organDonation.p{

	text-align:left;
}

#organFacts{
	padding-top: 30px;

	font-size: 1.5em;

}




.btn-primary {
	padding:15px 24px;
	border: 1px #4286f4; 
	background: #91A8D0;
    color: #ffffff;
}
.btn-primary:hover {
	background: #4ba4d8;
}
.btn-primary:active, .btn-primary:focus {
  background-color: #4ba4d8 !important;
  -color: #4286f4 !important;
}

.panel-primary > .panel-heading{
	background-color: #4ba4d8
}

/*.btn-group button {
	background-color: #4CAF50; 
	border: 1px solid green; 
	color: white; 
	padding: 15px 24px; 
	cursor: pointer; 
	width: 50%; 
	display: block; 
}
.btn-group button:not(:last-child) {
	border-bottom: none; 
}

.btn-group button:hover {
	background-color: #3e8e41;
}*/
.btnsize{
	width:225px !important; //!important forces it
}
.btnsize2{
	width: 150px !important; //!important forces it
}
.btnsize3{
	width:100px !important; //!important forces it
}




.fnt{
	text-align:left;
}
.tableBorder{
	border: 1px solid black;
}
.centered{
 	text-align: center;
}
.tile_div a {
	 display: block;
	 float: left;
	 height: 50px;
	 width: 100px;
	 margin-right: 5px;
	 background-image: url(./images/button_left.png);
	 background-color: #ccc;
	 text-align: center;
	 line-height: 50px;
	 text-decoration: none;
	}
.title_div a.last {
    margin-right: 0;
}
.clear {
    clear: both;
}
#wgtmsr{
	width:150px;   
}
.selectbox{
   width:200px;
}