body {
	background-color: #74828F;
}

.logo {
	display: block;
}

.body-content {
	background-color: #96C0CE;
}


.top-banner {
	background-color: #B88EB9;
}

.body-text {
	font-size: 1.3em;
}

.register-form {

}

.error {
	color: red;
	font-weight: bold;
}



	
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.loginClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.registerClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.loginClose:hover,
.loginClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.registerClose:hover,
.registerClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}